
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  /* background-color: rgb(221, 221, 221); */
  background-color: #e8e8f3f7;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*********
* HEADER *
**********/

.header {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #780d9f9d;
  box-shadow: 0 0 10px rgb(20, 130, 163);
  padding: 0 20px;
}

.logoH1 {
  color: #7cc529;
  letter-spacing: -3px;
  text-transform: lowercase;
}

.logoH1 span:first-child {
  color: #790d9f;
}

.logoH1 span:second-child {
  color: #790d9f;
}
.logoH1 span:last-child {
  font-size: 12px;
  letter-spacing: normal;
}

.menu {
  display: flex;
}

.menu > li {
  position: relative;
}

.menu > li a {
  padding: 17px;
  color: white;
  font-size: 14px;
  text-decoration: none;
  display: block;
}

.menu > li:hover {
  background: #b91c5d;
}

.menu > li:hover > .submenu,
.submenu > li:hover > .submenu {
  display: block;
}


.submenu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  background: #7cc529;
  min-width: 110%;
}

.submenu li:hover {
  background: #1684a5;
}

.submenu li {
  position: relative;
}

.submenu li .submenu {
  top: 0;
  left: 100%;
}

.titleF01 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(15, 25, 35);
  font-weight: 700;
  margin: 0px 0px 16px;
  font-size: 40px;
  line-height: 54px;
}

.fotoBusiness-01 {
  width: 100%;
  margin: 5px 0px 20px;
  display: flex;
  column-gap: 1em;
  width: 500px;
  
}

.fofoca01 p {
  color: rgb(15, 25, 35);
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fofoca_banner {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  opacity: .4;


}

.page_title{
display: flex;
justify-content: baseline;

}

.page_title a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
    height: 55px;
    background-color: #e8e8f3f7;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 28px;
    color:#6446fc39;
    overflow: hidden;
    letter-spacing: 20px;
}

/*************
* MAIN INDEX *
**************/

.main_index{

  width: 892px;
  height: 3616.16px;
}

.img_index_01 img {
  width: 275px;
  height: 204px;
  border-radius: 8px;
}

/**************************
* CSS- PUBLISHER BANNER's *
***************************/

.banner_ads_horizontal{
  display: flex;
  justify-content: center;
  height: 258px;
}

.banner_ads {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}


.banner_footer {
  display: flex;
  justify-content: center;
  background-color: #111151;
  border: #111151;
  
}
/*************
* LOGO INDEX *
**************/

.logo_fofocode {
  display: flex;
  justify-content: right;
  height: 280px;
  padding-left: 4px; 
}

.more_news_business{
  text-decoration: none;
  font-size: 60px;
}

/******************
* Images Articles *
*******************/

.img_materia_01 img {
  width: 855px;
  height: 484px;
  border-radius: 8px;
}

.insta_article{
  display: flex;
  justify-content: center;
}

/******************
* TEXT ADJUSTMENT *
*******************/
.main_article{
  width: 892px;
  height: 3616.16px;
  font: 16px;
  text-size-adjust: 100%;
  display: block;
  margin: 0 20px;

}


.index_h1{
  width: 876px;
  height: 155px;
  font-size: 44px;
  font-weight: 700;
  font-family: sans-serif;
  line-height: 46px;
  border-bottom: 1px solid #E5E5E5;
  margin: .67em 0;
  }

.text-index{
  font-size: 20px;
  font-weight: 300;
  margin-left: 10px;
  margin-right: 40px;
  text-align: justify;
}

.title_h3{
  font-size: 40px;
}


/***********
* SIDE BAR *
************/

.post__sidebar {

  margin: 0px 0px 0px 72px;
  padding: 0px 8px 48px;
  position: absolute;
  text-align: start;
  text-size-adjust: 100%;
  text-decoration: none;
  width: 300px;
  height: 150px;
  line-height: 20px;
  color: #D4D4D4;
  list-style-type: decimal;
  text-decoration-color: #7cc529;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
}

.post__sidebar a {
  
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 300px;
  position: relative;
  margin: 0px 40px;
  text-decoration-line: none;
  color: #4d4d4d;


}

.most__read__main__title  {
  display: flex;
  position:relative;
  flex-direction: row;
  justify-content: start;
  text-size-adjust: 100%;
  text-align: start;
  padding-left: 3px;
  margin-bottom: 20px;
  margin-top: 40px;
}

  .post__sidebar a:hover {
  
    color:#b91c5d;

  
  
  
}

/*******************
* SESSIONS SHADOWN *
********************/

.section01{
  display: block;
  position: absolute;
  text-align: right;
  margin-left: 81%
  
  
}

.section_mentos{
  display: block;
  position: absolute;
  margin-left: 82%
}

.section_mentos img{
 width: 200px;
 height: 540px;
}
.section_aviator{
  display: block;
  position: absolute;
  margin-left: 82%
}

.section_aviator img{
 width: 200px;
 height: 540px;
}

.link-par-1  {
  display: flex;
  position:absolute;
  flex-direction: column;
  align-items:end;
  height: 100%;
  margin-top: 10px;
  padding: 0px 20px;
  justify-content: space-evenly;
  transition: all 0.25s ease 0s;
  color: #790d9f;;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: 56px;
  line-height: 100px;
  pointer-events: all;
  vertical-align: baseline;
  text-align: center;
  
  
}

.link-par-1:hover {
  
  color:#1bbbdf;
  animation-delay: 2s;
  
  
  
}

.link-par-1 a {
  text-decoration-color: #0F1923;
  text-decoration-line: none;
  text-decoration-thickness: auto;
  white-space: nowrap;
  width: 164px;
  gap: 16px;
  padding-left: 16px;
  flex: 1 1 auto;
  color:#c10f95;
  
}

.link-par-1 a:hover {
  
  color:#7cc529;
  animation-delay: 2s;
  text-shadow: 2px 2px 6px rgb(0, 255, 17);
  transition: all 0.4s ease-in-out;
  
}

<<<<<<< HEAD
.footer-social .footer-icons a img{
  display: inline-block;
  justify-content: flex;
  width: 30;
  height: 30;
  padding: 5px;
  max-width: 35px;
}
.footer-social .copyright{
  width: 100%;
}
.footer-social .copyright p{
  text-align: center;
  color: dimgray;
  padding: 5px;
  font-size: 14px;
}
=======
.section_harvard img{
  display: flex;
  justify-content: left;
  align-items: end;
  margin-top: 35px;
  width: 900px;
}

.section_logo{
  display: block;
  position: absolute;
  margin-left: 112%
}

.section_logo img{
  width: 500px;
  opacity: 50%;
  position: relative;
  animation: transicao infinite 5s;
  opacity: 0.6;
}


 @keyframes transicao {
   25% {
     opacity: 2;
     transform: scale(1.1,1.1);
   }
   50% {
     opacity: 1;
   }
   
 }

 .logoIndex:nth-child(1){
  animation-delay: 5s;
}

/*****************
* CSS - BUSINESS *
******************/

.fotoBusiness-01 img{
  width: 855px;
  height: 484px;
  border-radius: 14px;

  /***************
  * FORMULARIO*
  ****************/
  
}
#div-centro {
  font-size: x-large;
  position: relative;
  width: 400px;
  left: 35%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #cb99ad;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(255, 148, 148, 0.2);
}

#div-centro #formulario {
  display: block;
  text-align: center;
}
input.cadastro{
  font-size: larger;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 155px;
  height: 45px;
}

#div-dir img{
  display: flex;
  flex-direction: initial;
  flex-wrap: wrap;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin: 10px;
  
}
#div-esq img{
  display: flex;
  flex-direction: initial;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  height: 300px;
  margin: 10px;
  font-size: medium;
}
>>>>>>> 31278ea0d0cb790059803fe7147985ad988e0ee6
